@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
    color: black !important;
}

.brand-logo{
    font-family: 'Grand Hotel', cursive;;
}
.mycard{
    margin-top: 100px;
}

.auth-card{
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin:10px auto;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid purple !important;
    box-shadow: 0 1px 0 0 purple !important;
  }
  .input-field input[type=password]:focus {
    border-bottom: 1px solid purple !important;
    box-shadow: 0 1px 0 0 purple !important;
  }
   .gallery{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;

   }
   .item{
       width: 30%;
   }
   .home-card{
       width: 550px;
       height: max-content;
       margin: 26px auto;
   }
   #toast-container{
       top:30px !important;
       right:20px !important;
       left:auto !important;
   }

   .material-icons:hover{
       cursor:pointer;
   }

   .side-bar {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    border-radius: 0;
    border-color: rgba(64, 194, 133, 0.693);
    background-color: rgb(255, 255, 255);
    transition: 0.8s ease;
}
.toggle-menu {
    height: 50px;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 9rem;
    width: 10px;
    position: absolute;
    outline: none;
    z-index: 1;
    background-color: rgba(64, 194, 133, 0.693);
    border-color: rgba(64, 194, 133, 0.693);
    border-left: 0;
}